Test/Service References/PinyinConvert/Convert.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://khanhphong.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://khanhphong.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://khanhphong.net/">
      <s:element name="ToPinyinWithMark">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PinyinWithNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToPinyinWithMarkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ToPinyinWithMarkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ToPinyinWithMarkSoapIn">
    <wsdl:part name="parameters" element="tns:ToPinyinWithMark" />
  </wsdl:message>
  <wsdl:message name="ToPinyinWithMarkSoapOut">
    <wsdl:part name="parameters" element="tns:ToPinyinWithMarkResponse" />
  </wsdl:message>
  <wsdl:portType name="ConvertSoap">
    <wsdl:operation name="ToPinyinWithMark">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Convert Pinyin With Number to Pinyin With Mark</wsdl:documentation>
      <wsdl:input message="tns:ToPinyinWithMarkSoapIn" />
      <wsdl:output message="tns:ToPinyinWithMarkSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConvertSoap" type="tns:ConvertSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToPinyinWithMark">
      <soap:operation soapAction="https://khanhphong.net/ToPinyinWithMark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConvertSoap12" type="tns:ConvertSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToPinyinWithMark">
      <soap12:operation soapAction="https://khanhphong.net/ToPinyinWithMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Convert">
    <wsdl:port name="ConvertSoap" binding="tns:ConvertSoap">
      <soap:address location="http://localhost:49231/Convert.asmx" />
    </wsdl:port>
    <wsdl:port name="ConvertSoap12" binding="tns:ConvertSoap12">
      <soap12:address location="http://localhost:49231/Convert.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>